* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background: url('../../assets/images/bg.png');
  background-repeat: repeat;
  margin: 0;
  /*@mixin atSmall {
  margin: 1.25rem;
  }*/

}


.dark-bg {
  background-color: #cecdcd !important;
}
