body {
  font-family: 'Playfair Display', serif;

}

  @media (min-width: 560px){body {
    margin: 1.25rem

}
  }

#wrapper {
  display: grid;
  grid-template-columns: 30vh 1fr 1fr;
  grid-template-rows: 15vh 1fr 10vh;
  grid-gap: 4.5px;
  background-color: #fff;
  color: #444;

}

@media (min-width: 560px){

#wrapper {
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 60vh 10vh 20vh;
    grid-gap: 7.5px

}
  }

.dark-bg {
  background-color: #cecdcd !important;
}

/* To reset button default styling */

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.link {
  text-decoration: none;
  cursor: pointer;

}

.link:hover {
color:#fff;
}

.link a {
    color:#000;
    text-decoration: none;
  }

.link a:hover {
    color:#fff;
  }

button:hover {
  color: #fff;
}

.quote-area {
  grid-column: 1/ 6;
  grid-row: 2/ 3;
  background-color: #efefef;
  color: grey;
  padding: 20px;
  font-size: 150%;
  display: inline-grid;
  background-position: center;
  transition: all 0.3s ease-out;

}

@media (min-width: 560px){

.quote-area {
    grid-column: 2/ 6; /* from 2/3 */
    grid-row: 1/ 4

}
  }

.quote-area__text {
    font-family: 'Bellefair', serif;
    align-self: center;
    margin: 3rem;
    color: #fff;
    text-shadow:
    -1px -1px 0 #a8a8a8,
    1px -1px 0 #a8a8a8,
    -1px 1px 0 #a8a8a8,
    1px 1px 0 #a8a8a8;
    font-size: 2rem;
  }

.about-area {
  grid-column: 1 /6;
  grid-row: 2 / 3;
  color: #fff;
  z-index: 0;
  text-shadow:
  -1px -1px 0 #a8a8a8,
  1px -1px 0 #a8a8a8,
  -1px 1px 0 #a8a8a8,
  1px 1px 0 #a8a8a8;
  background-color:rgba(0, 0, 0, 0);
  padding: 20px;
  font-size: 150%;
  display: inline-grid;
  transition: all 3s ease-out;
}

@media (min-width: 560px){

.about-area {
    grid-column: 2/ 6; /* from 2/3 */
    grid-row: 1/ 4
}
  }

.about-area__content {
  text-align: center;
  }

.raise-up {
  z-index: 1; /* assigned to the about-area */
}

.hide-elem {
  opacity: 0; /* will hide the quote itself */
}

.blur-bg-img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.sidebar-box {
  background-color: #efefef;
  color: grey;
  padding: 0 8px;
  display: inline-grid;
  font-size: 0.7rem;
}

@media (min-width: 560px){
    .sidebar-box__about-button {
      border-top: 1px solid rgb(153,153,153,0.3);
    }
  }

.sidebar-box__intro {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    display: inline-block;

  }

@media (min-width: 560px){

.sidebar-box__intro {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around

  }
  }

@media (min-width: 752px){

.sidebar-box__intro {
      font-size: 0.9rem

  }
  }

@media (min-width: 1010px){

.sidebar-box__intro {
      font-size: 1.1rem

  }
  }

.sidebar-box__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #666;
    height: 100%;
    width: 40%;
    margin: 0;
    float: left;
    line-height: 1.1;
  }

@media (min-width: 560px){

.sidebar-box__title {
      height: initial;
      width: initial;
      float: none;
      line-height: 1.3;
      margin: 10px 0
  }
  }

.sidebar-box__description {
    display: inline-block;
    width:50%;
    height: 100%;
    float: right;
    font-size: 0.6rem;
    margin-top: 2.5px;
  }

@media (min-width: 408px){

.sidebar-box__description {
      font-size: 0.7rem
  }
  }

@media (min-width: 560px){

.sidebar-box__description {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-evenly;
      float: none;
      width:100%;
      font-size: 0.9rem
  }
  }

@media (min-width: 752px){

.sidebar-box__description {
      font-size: 1.1rem
  }
  }

.sidebar-box p {
    margin: 0;
  }

@media (min-width: 560px){

.sidebar-box p {
      display: inline-flex
  }
  }

.sidebar-box__button {
    grid-column: 1/ 2;
    grid-row: 3/ 4;
    font-size: 0.9rem;
  }

.sidebar-box__button--main {
      color: #555;
    }

@media (min-width: 560px){

.sidebar-box__button {
      grid-column: 1 / 2;
      grid-row: 2 / 3
  }
  }

@media (min-width: 752px){

.sidebar-box__button {
      font-size: 1.2rem
  }
  }

.sidebar-box__more-info {
    grid-column: 2 / 6;
    grid-row: 3/ 4;
    display: inline-flex;
    justify-content: space-around;
  }

@media (min-width: 560px){

.sidebar-box__more-info {
      grid-column: 1/2;
      grid-row: 3/ 4;
      display: inline-grid;
      justify-content: inherit
  }
  }

@media (min-width: 1010px){

.sidebar-box {
    padding: 0 15px
}

    .sidebar-box__title {
      font-size: 2rem;
    }
  }
