* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background: url('../../assets/images/bg.png');
  background-repeat: repeat;
  margin: 0;
  /*@mixin atSmall {
  margin: 1.25rem;
  }*/

}

.dark-bg {
  background-color: #cecdcd !important;
}

.link {
  text-decoration: none;
  cursor: pointer;

}

.link a  {
    color:#000;
    text-decoration: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

button {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* padding-bottom: 15px; */

button:hover {
    border-bottom: 2px solid black;
  }

/* entire container, keeps perspective */

.container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;
}

.container .flipper {
    /* flip speed */
    transition: 0.8s cubic-bezier(0.76, 0.1, 0.21, 0.89);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
  }

/* triggers the flip */

.flip-it {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container, .poster-front, .back {
  margin-top: 15px;
  width: 800px;
  height: 533px;
}

/* hide back of pane during swap */

.poster-front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* poster-front pane, placed above back */

.poster-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: black;
  color: white;
}

.bar {
z-index: 2;
}

.navigation {
  background-color: white;
  color: black;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
}

.navigation .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-height: 100%;
  }

.navigation .left-nav {

    align-content: center;
    display: inherit;
    margin-left: 20px;
  }

.navigation .left-nav .outline {
      background-color: black;
      border-radius: 100%;
      border: 6px solid white;

    }

.navigation .logo {
    /* width: 70px; */
    height: 90%;
    margin: 5px 0 10px 0;
  }

.navigation .title {
    display: block;
    margin: 10px 10px 10px 10px;
  }

.navigation .right-nav {
    align-content: center;
    display: inherit;
    margin-right: 20px;
  }

.navigation .right-nav button {
      margin: 5px 10px 5px 10px;
      display: block;
    }

.bottom-bar {
  background-color: white;
  width: 100%;
  height: 30px;
  position: relative;
  bottom: 0;
  border-top: 1px solid black;

}
