.link {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color:#fff;
  }

  & a  {
    color:#000;
    text-decoration: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }


  & a:hover {
    color:#fff;
  }

}

button {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  &:hover {
    color: #fff;
  }
}
