/* entire container, keeps perspective */
.container {
  perspective: 1000px;
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;

  .flipper {
    /* flip speed */
    transition: 0.8s cubic-bezier(0.76, 0.1, 0.21, 0.89);
    transform-style: preserve-3d;
    position: relative;
  }
}

/* triggers the flip */
.flip-it {
  transform: rotateY(180deg);
}


.container, .poster-front, .back {
  margin-top: 15px;
  width: 800px;
  height: 533px;
}



/* hide back of pane during swap */
.poster-front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* poster-front pane, placed above back */
.poster-front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: black;
  color: white;
}
