.quote-area {
  grid-column: 1/ 6;
  grid-row: 2/ 3;
  background-color: #efefef;
  color: grey;
  padding: 20px;
  font-size: 150%;
  display: inline-grid;
  background-position: center;
  transition: all 0.3s ease-out;

  @mixin atSmall {
    grid-column: 2/ 6; /* from 2/3 */
    grid-row: 1/ 4;
  }

  &__text {
    font-family: 'Bellefair', serif;
    align-self: center;
    margin: 3rem;
    color: #fff;
    text-shadow:
    -1px -1px 0 #a8a8a8,
    1px -1px 0 #a8a8a8,
    -1px 1px 0 #a8a8a8,
    1px 1px 0 #a8a8a8;
    font-size: 2rem;
  }

}



.about-area {
  grid-column: 1 /6;
  grid-row: 2 / 3;
  color: #fff;
  z-index: 0;
  text-shadow:
  -1px -1px 0 #a8a8a8,
  1px -1px 0 #a8a8a8,
  -1px 1px 0 #a8a8a8,
  1px 1px 0 #a8a8a8;
  background-color:rgba(0, 0, 0, 0);
  padding: 20px;
  font-size: 150%;
  display: inline-grid;
  transition: all 3s ease-out;

  @mixin atSmall {
    grid-column: 2/ 6; /* from 2/3 */
    grid-row: 1/ 4;
  }

  &__content {
  text-align: center;
  }
}

.raise-up {
  z-index: 1; /* assigned to the about-area */
}

.hide-elem {
  opacity: 0; /* will hide the quote itself */
}

.blur-bg-img {
  filter: blur(5px);
}
