.sidebar-box {
  background-color: #efefef;
  color: grey;
  padding: 0 8px;
  display: inline-grid;
  font-size: 0.7rem;

  @mixin atSmall {
    &__about-button {
      border-top: 1px solid rgb(153,153,153,0.3);
    }
  }

  &__intro {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    display: inline-block;


    @mixin atSmall {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
    }

    @mixin atMedium {
      font-size: 0.9rem;
    }
    @mixin atLarge {
      font-size: 1.1rem;
    }

  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #666;
    height: 100%;
    width: 40%;
    margin: 0;
    float: left;
    line-height: 1.1;

    @mixin atSmall {
      height: initial;
      width: initial;
      float: none;
      line-height: 1.3;
      margin: 10px 0;

    }
  }

  &__description {
    display: inline-block;
    width:50%;
    height: 100%;
    float: right;
    font-size: 0.6rem;
    margin-top: 2.5px;

    @mixin atTiny {
      font-size: 0.7rem;

    }

    @mixin atSmall {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-evenly;
      float: none;
      width:100%;
      font-size: 0.9rem;

    }
    @mixin atMedium {
      font-size: 1.1rem;
}
  }

  p {
    margin: 0;

    @mixin atSmall {
      display: inline-flex;
    }
  }


  &__button {
    grid-column: 1/ 2;
    grid-row: 3/ 4;
    font-size: 0.9rem;

    &--main {
      color: #555;
    }

    @mixin atSmall {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    @mixin atMedium {
      font-size: 1.2rem;
    }
  }

  &__more-info {
    grid-column: 2 / 6;
    grid-row: 3/ 4;
    display: inline-flex;
    justify-content: space-around;

    @mixin atSmall {
      grid-column: 1/2;
      grid-row: 3/ 4;
      display: inline-grid;
      justify-content: inherit;
    }
  }


  @mixin atLarge {
    padding: 0 15px;

    &__title {
      font-size: 2rem;
    }
  }
}
