body {
  margin: 1.25rem;
  font-family: 'Playfair Display', serif;
}

#wrapper {
  display: grid;
  grid-template-columns: 25vw 22vw 22vw 22vw; /* from 70vw */
  grid-template-rows: 55vh 1fr 25vh;
  grid-gap: 7.5px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #efefef;
  color: grey;
  padding: 20px;
  font-size: 150%;
  display: inline-grid;
}

#intro {
  grid-column: 1/ 2;
  grid-row: 1/ 2;
}

#intro h1 {
  font-size: 3vw;
  font-weight: initial;
}

#intro p {
  font-size: 1.25vw;
}

/* To reset button default styling */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
color: #fff;
}

#button {
  grid-column: 1/ 2;
  grid-row: 2/ 3;
  font-size: 2vw;
  text-align: center;
}

#info {
  grid-column: 1/ 2;
  grid-row: 3/ 4;
}

#about {
  font-size: 2vw;
}

#about-area {
  grid-column: 2/ 6; /* from 2/3 */
  grid-row: 1/ 4;
  color: #fff;
  text-shadow:
    -1px -1px 0 #a8a8a8,
    1px -1px 0 #a8a8a8,
    -1px 1px 0 #a8a8a8,
    1px 1px 0 #a8a8a8;
    background-color:rgba(0, 0, 0, 0);
    padding: 20px;
    font-size: 150%;
    display: inline-grid;
}

#disclaimer {
margin: 1.25rem;
}

#credits {
margin: 3rem;
}

#resources {
text-align: center;
}

#resources a{
color:#000;
text-decoration: none;

}

#resources a:hover {
color:#fff;
}


/* Used in JS - Start */
.show-about-area {
z-index: 1; /* assigned to the about-area */
}

.hide-elem {
display:none; /* will hide the quote itself */
}

.blur-bg-img {
filter: blur(5px);
}
.dark-bg {
background-color: #cecdcd !important;
}
/* Used in JS - End */



#quote-area {
  grid-column: 2/ 6; /* from 2/3 */
  grid-row: 1/ 4;
  background-color: #efefef;
  color: grey;
  padding: 20px;
  font-size: 150%;
  display: inline-grid;
}

#quote {
  font-family: 'Bellefair', serif;
  align-self: center;
  margin: 3rem;
  color: #fff;
  text-shadow:
    -1px -1px 0 #a8a8a8,
    1px -1px 0 #a8a8a8,
    -1px 1px 0 #a8a8a8,
    1px 1px 0 #a8a8a8;
  font-size: 2rem;
}
